#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading.fade-out {
    opacity: 0;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid var(--text);
    border-top: 6px solid var(--bg-light);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}